.product {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}
.cart {
    width: 15rem;
    background-color: rgb(147, 137, 80);
    padding: 10px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.name {
    font-size: 2.5rem;
    font-weight:bold;
    color: rgb(121, 111, 65);
    margin-bottom: 1vh;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(121, 111, 65);

}

.description {
    font-size: 1.2rem;
    color: rgb(121, 111, 65);
}

.image-wrapper {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}
