<div class="header">
    <div class="logo">
        <img src="assets/images/Logo.jpg" alt="Logo" class="logo" />
    </div>
    <div class="navigation">
        <div><a href="/">Home <i class="pi pi-home"></i></a></div>
        <div>|</div>
        <div><a href="/products">Products <i class="pi pi-objects-column"></i></a></div>
        <div>|</div>
        <div><a href="/sign-in">Sign in <i class="pi pi-user"></i></a></div>
        <div>|</div>
        <div><a href="/cart">Cart <i class="pi pi-shopping-cart"></i></a></div>
    </div>
</div>