
.filter-container {
    width: 22vw;
    font-family: Arial, sans-serif;
    padding: 20px;
    border-right: 1px solid #eee;
}

h3 {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.options-row {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.chip,
.size-box {
    border: 1px solid #ddd;
    background: white;
    padding: 10px 15px;
    cursor: pointer;
    white-space: nowrap;
}

.chip.active {
    border: 2px solid black;
    font-weight: bold;
}

.color-grid {
    display: flex;
    gap: 10px;
}

.color-box {
    width: 40px;
    height: 25px;
    border: 1px solid #eee;
}

.price-inputs {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.input-wrapper {
    border: 1px solid #ddd;
    padding: 10px;
    min-width: 100px;
}

label {
    font-size: 12px;
    color: #666;
    display: inline;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}


/* כותרות הסקשנים */
.filter-title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #1a1a1a;
    margin-bottom: 15px;
}

/* עיצוב ה-Label של הקטגוריה */
.category-label {
    font-size: 16px;
    color: #2c3e50;
    /* צבע כחלחל-כהה כמו בתמונה */
    cursor: pointer;
    font-family: sans-serif;
}

/* שינוי צבע הצ'קבוקס של PrimeNG לשחור כשהוא נבחר */
:host ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
    background: #050a1a !important;
    /* כמעט שחור */
    border-color: #050a1a !important;
}

/* עיצוב הריבוע הריק */
:host ::ng-deep .p-checkbox .p-checkbox-box {
    border-radius: 6px;
    /* פינות מעוגלות קלות */
    border: 1px solid #d1d5db;
    width: 22px;
    height: 22px;
}

/* עיצוב ה-V (הסימון) */
:host ::ng-deep .p-checkbox .p-checkbox-box .p-checkbox-icon {
    font-size: 12px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap-4 {
    gap: 1rem;
}