<div class="filters">
    <p-accordion [multiple]="true" [value]="['0', '1', '2']">
        <p-accordion-panel value="0">
            <p-accordion-header>Categories</p-accordion-header>

            @for (category of categoriesService.categories; track $index){
                <p-accordion-content>{{category.name}}</p-accordion-content>
            }
        </p-accordion-panel>


        <p-accordion-panel value="1">
            <p-accordion-header>מותג</p-accordion-header>
            <p-accordion-content>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
</div>