<div class="row products-page-container grid">
  <div class="all-products col-10">
    @for (product of productService.products; track $index)
    {
    <p-card styleClass="product-card-primeng" (click)="goToDetails()">
      <ng-template pTemplate="header">
        <div class="product-image-container">
          <img [src]="product.imageUrl" class="product-image-full" alt="{{ product.name }}" />
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="p-d-flex p-jc-between p-ai-center product-footer">
          <span class="product-name-footer">{{ product.name }}</span>
          <span class="product-price-footer">
            {{ product.price | currency:'ILS':'symbol':'1.2-2' }}
          </span>
        </div>
      </ng-template>
    </p-card>
    }
  </div>
  <div class="filters-container col-2">
    <app-filters></app-filters>
  </div>
</div>